
<p>作者からのお願い : ツイートのurl以外を入力しないでください</p>
<%= form_with url: tweets_path do |form| %>
    <%= form.text_field :tweet_url%>
    <%= form.submit %>
<% end %>



<% @tweets.each do |tweet| %>
    <div class = 'tweet'>
        <div class = 'tweet_data'>
            <%= tweet[:tweet_model].user %><br>
            <%= tweet[:tweet_object].text %> 
        </div>
        <div class = 'like-button'>
            <%= tweet[:tweet_model].good %> いいね 
        </div>
    </div>
<% end %>


<div>




