<script>
    var cnt = 0
    document.getElementById("like_count").value = cnt;

    function op(){
        document.getElementById("layer").style.display = 'block';
        document.getElementById("popup").style.display = 'block';
        cnt = 0;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function cls(){
        document.getElementById("layer").style.display = 'none';
        document.getElementById("popup").style.display = 'none';
        cnt = 0;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function count(){
        cnt++;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function finish(){
        
    }

</script>

<div class = 'tweet'>
        <div class = 'tweet_data'>
            <%= @tweet[:tweet_model].user %><br>
            <%= @tweet[:tweet_object].text %> 
        </div>
        <div class = 'like-button'>
            <%= @tweet[:tweet_model].good %>
        </div>
        <button onclick = 'op()'>open</button>

</div>

<div class = 'layer' id = 'layer'>
</div>

<div class = 'popup' id = 'popup'>
    <div>
        <p id = 'count'>0</p>
        <%= @tweet[:tweet_object].text %><br>
        <button onclick = 'count()'>like</button>
        <button onclick = 'cls()'>close</button>
        <%= form_with url: add_like_tweet_path(@tweet[:tweet_model]) do |form| %>
            <%= form.hidden_field :like_count%>
            <%= form.submit %>
        <% end %>
    </div>
    
</div>

<%= link_to 'Back', tweets_path%> 