<script>
    var cnt = 0
    document.getElementById("like_count").value = cnt;

    function op(){
        document.getElementById("layer").style.display = 'block';
        document.getElementById("popup").style.display = 'block';
        cnt = 0;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function cls(){
        document.getElementById("layer").style.display = 'none';
        document.getElementById("popup").style.display = 'none';
        cnt = 0;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function count(){
        cnt++;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function finish(){
        
    }

</script>

<style>
    



</style>

<div class = 'tweet'>
        <div class = 'tweet_data'>
            <%= @tweet[:tweet_model].user %><br>
            <%= @tweet[:tweet_object].text %> 
        </div>
        <div class = 'like-button'>
            <%= @tweet[:tweet_model].good %>
        </div>
        <button onclick = 'op()'>open</button>

</div>

<div class = 'layer' id = 'layer'>
</div>

<div class = 'popup' id = 'popup'>
    <div class = 'tweet_detail'>
        
        <%= @tweet[:tweet_object].text %><br>
        <p id = 'count'>0</p>
        <div onclick = 'count()' class = 'count_button'>Like</div>
        
    </div>
    <%= form_with url: add_like_tweet_path(@tweet[:tweet_model]) do |form| %>
        <%= form.hidden_field :like_count%>
        <%= form.submit 'finish', :class=>"sub_button" %>
    <% end %>
    <div onclick = 'cls()' class = 'close_button'>close</div>
   
    
</div>

<%= link_to 'Back', tweets_path%> 