<script>
    var cnt = 0
    document.getElementById("like_count").value = cnt;

    function op(){
        document.getElementById("layer").style.display = 'block';
        document.getElementById("popup").style.display = 'block';
        cnt = 0;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function cls(){
        document.getElementById("layer").style.display = 'none';
        document.getElementById("popup").style.display = 'none';
        cnt = 0;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function count(){
        cnt++;
        document.getElementById("count").textContent = cnt;
        document.getElementById("like_count").value = cnt;
    }

    function finish(){
        
    }

</script>

<div class = 'show'>
    <div class = 'tweet'>
        <div class = 'tweet_data'>
            <%= @tweet[:tweet_model].user %><br>
            <%= @tweet[:tweet_object].text %> 
        </div>
        <div class = 'like-button'>
            <%= @tweet[:tweet_model].good %>
        </div>

        <p id = 'count' class = 'count'>0</p>
        <div onclick = 'count()' class = 'count_button'>Like</div>
        <%= form_with url: add_like_tweet_path(@tweet[:tweet_model]) do |form| %>
            <%= form.hidden_field :like_count%>
            <%= form.submit 'finish', :class=>"sub_button" %>
        <% end %>
    </div>
    <%= link_to tweets_path, class:'back-link' do %>
        <div class = 'backbutton'>Back</div>
    <% end %>

</div>

